

form {
  width: 100%;
}




section {
  display: flex;
  flex-direction: row;
}





input {
  text-align: center;
  width: 100%;
  margin-bottom: 3px;
  border-width: 1px;
  border-color: rgba(255, 166, 0, 0.323);
  margin-top: 0.3rem;
}




.alert {
  text-align: center;
  color: red;
  background-color: yellow;
  display: none;
  font-size: 0.75rem;
}
