
.certificateMain{
  padding: 5rem;
}

.doubleColorFont{
  background: -webkit-linear-gradient(top, #0d2172 0%,#0d2172 50%,white 50%,white 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding-main);
  background-color: var(--primary-100);
  border-radius: var(--border-radius);
  position: relative;
  
}

.details {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--padding-main);
}

.detailContainer {
  width: 100%;
  padding: var(--padding-main);
  background-color: var(--primary-100);
  border-radius: var(--border-radius);
  position: relative;
}


/* m query */

@media (max-width: 1000px) {
  .certificateMain {
    padding: var(--padding-main);
    padding-top: 8rem;
  }
}
