@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: #1C3564;
  --max-width: 1600px;
  --max-width-form: 500px;
  --nav-height: 100px;
  --template-max-width: 720px;
  --template-width: 1080px;
  --template-height: 810px;
  --card-width: 220px;
  --min-height: 500px;
  --min-height-screen: 80vh;
  --padding-main: 20px;
  --padding-light: 10px;
  --padding-large: 100px;
  --padding-extra-light: 5px;
  --border-radius: 4px;
  --border-radius-light: 2px;
  --text-shadow-emphasis: 0 0 1rem white;
}


@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.skeleton-container{
  padding: 2rem;
  padding-left: 12rem;
  padding-right: 12rem;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.skeleton {
  border-radius: 0.25rem;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-card-brand {
  width: 20%;
  height: 0.7rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
}

.skeleton-card {
  border-radius: 6px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
}

.skeleton-card-text {
  padding: 10px;
}

.skeleton-card-img {
  width: 100%;
  height: 500px;
  border-radius: 6px;
}

.skeleton-card-price {
  width: 10%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-rating {
  width: 20%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-title {
  width: 70%;
  height: 0.7rem;
  margin: 0.5rem;
}

.skeleton-card-description {
  width: 90%;
  height: 0.7rem;
  margin: 0.5rem;
  margin-bottom: 0.5rem;
}
.home-skeleton-container{
  padding: 2rem;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.home-skeleton-container .skeleton-card-img{
  width: 100%;
  height: 90vh;
}



/* media query */

@media (max-width: 500px) {
  .skeleton-container{
    padding: 2rem;
    width: 100vw;
    height: 100vh;
    background-color: white;
  }
  .skeleton-card-img{
    height: 300px;
  }
}


@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}