/* video background */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  
  /* page content */
  
  body {
    font-family: Trebuchet MS;
    margin: 0;
    padding: 0;
  }
  
  h1, h2 {
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
    margin-top: 30vh; 
  }
  
  h2 { font-size: 3rem; }
  
  /* @media (max-width: 750px) {
      #background-video { display: none; }
      body {
        background: url("/whoweare.jpg") no-repeat;
        background-size: cover;
      }
  } */
  
  main {
    background-color: white;
    font-size: 2rem;
    margin-top: 50vh;
    padding: 10px;
    position: relative;
    color: "#005FAF";
  }

  .overlay {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

  .numbers {
    display: flex;
    justify-content: space-around;
  }
  
  .number {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .number .counter {
    font-weight: bold;
    /* font-style: italic; */
    font-size: 1em;
    margin: 6px 0;
    color: #192655;
  }


  .number span {
    font-size: 0.7rem;
    display: block;
    color: #192655;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: white;
    width: 300px;
    height: "auto";
    margin: 2rem;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    text-align: center;
  }

  .mainCounter{
    margin-top:2rem;
    width:100%;
    height:300px;
    background-color:#1C3564;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
  }

  .submainCounter{
    width:100%;
    display:flex;
    justify-content:space-around;
    gap:1rem;
    flex-wrap: wrap;
  }
  .counterDiv{
    width:200px;
    height:120px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    border-radius:10px;
    box-shadow:0 8px 8px 0 rgba(0,0,0,0.2);
  }

  .aboutus{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
  
  }
  .card-title{
    color: black;
  }
  .card-text{
    color: black;
  }

 
  .aboutusContent{
    width: 50%;
  }



  /* aboutuspage */



  .aboutUSPageMain{
    width:100%;
    display:flex;
  }

  .aboutUSPageContent{
    width:50%;
    height:90vh;
    padding:2rem;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    align-content:center;
  }


  .aboutUSPageImage{
    padding: 2rem;
    width:50%;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
  }
  .aboutUSPageMainCounter{
    margin-top:4rem;
    width:100%;
    display:flex;
    justify-content:space-around;
  }
  .aboutUSPageCounterDiv{
    width:100%;
    height:300px;
    background-color:#1C3564;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
  }

  .aboutUSPageCounterSubDiv{
    width:100%;
    display:flex;
    justify-content:space-around;
    gap:1rem;
  }
  .aboutUSPageCounterDivCounter{
    width:200px;
    height:120px;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    border-radius:10px;
    box-shadow:0 8px 8px 0 rgba(0,0,0,0.2);
  }

  .aboutUSPageSecondDiv{
    width:100%;
    display:flex;
    height:90vh;
  }
  .aboutUSPageSecondDivImage{
    width:40%;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center
  }
  .aboutUSPageSecondDivContent{
    width:60%;
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
  }

  .aboutUSPageheadingFontSize{
    color: #1C3564;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
  }

  /* UGDModelPage */

  .UGDModelPageMain{
    width:100%;
    height:80vh;
    display:flex;
    padding:20px
  }

  .UGDModelPageContent{
    width:60%;
    height:80vh;
    padding:2rem;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    align-content:center;
  }
  .UGDModelPageImage{
    width:40%;
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    align-content:center;
  }

  .UGDModelPageSecondDiv{
    width:100%;
    background-color:#1C3564;
    padding:2rem;
  }
  .UGDModelPageSecondDivSubDiv{
    margin-top:4rem;
    width:100%;
    display:flex;
    justify-content:space-around;
    gap:1rem;
  }
  .UGDModelPageThirdDiv{
    margin-top:5rem;
    width:100%;
    height:auto;
  }
  .UGDModelPageThirdDivSubDiv{
    margin-top:3rem;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap: 1rem;
    padding: 2rem;
  }
  .UGDModelPageFourthDiv{
    width:100%;
    background-color:#1C3564;
    height:100vh;
  }
  .UGDModelPageFourthDivRoundedLineLeft{
    width:50%;
    background-color:white;
    height:70px;
    border-top-right-radius: 50px;
    border-bottom-right-radius:50px;
    box-shadow:0 8px 8px 0 rgba(0,0,0,0.2);
    padding:1rem;
  }

  .UGDModelPageFourthDivContainer{
    padding: 2rem;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
  }

  .UGDModelPageFourthDivContentCard{
    width: 300px;
    height: 250px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 2rem;
    background-color: white;
    
  }
  .UGDModelPageFourthDivRoundedLineRight{
  position: absolute;
  right: 0;
  width: 50%;
  background-color: white;
  height: 70px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;

  }
  .UGDModelPageFourthDivContainer2{
    margin-top: 5rem;
    padding: 2rem;
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    gap: 0.5rem;
  }


/* font style */

.headingFontSize{
  text-align: center;
  color: #1C3564;
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.paraFontSize{
  margin-top: 2rem;
  font-size: 1rem;
  color: #6B6C6C;
}

.UGDModelPageFourthDivRoundedLineLeft p{
    text-align: center;
    color: #1C3564;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
}
.UGDModelPageFourthDivRoundedLineRight p{
  text-align: center;
  color: #1C3564;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.UGDModelPageFourthDivContentCard .heading{
  margin-top: 0.5rem; 
  text-align: center;
  color: #1C3564;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.UGDModelPageFourthDivContentCard .para{
    margin-top: 2rem;
    font-size: 0.8rem;
    color: #6B6C6C;
}




    
  @media (max-width: 1000px) {
    #background-video { display: none; }
    body {
      background: url("/whoweare.jpg") no-repeat;
      background-size: cover;
    }
    .mainCounter{
      /* flex-direction:column; */
      height: auto;
    }
    .submainCounter{
      flex-wrap: wrap;
      padding: 3rem;
    }
    .aboutUSPageMain{
      flex-direction:column-reverse;
    }
    .aboutUSPageContent{
      width:100%;
      height: auto;
    }
    .aboutUSPageImage{
      width:100%;
      height:400px;
      display:flex;
      justify-content:center;
      align-items:center;
      align-content:center;
      padding: 0.5rem;
    }
    .aboutUSPageMainCounter{
      display: none;
      flex-wrap: wrap;
    }
    .aboutUSPageCounterDiv{
      height: auto;
    }
    .aboutUSPageCounterSubDiv{
      flex-wrap: wrap;
      padding: 1rem;
    }
    .aboutUSPageCounterDivCounter{
      width:180px;
      height:120px;
    }
    .aboutUSPageSecondDiv{
      flex-direction: column;
      height:90vh;
    }
    .aboutUSPageSecondDivImage{
      width:100%;
      
    }
    .aboutUSPageSecondDivContent{
      width: 100%;
      padding: 2rem;
    }
    .UGDModelPageMain{
      display:flex;
      flex-direction: column-reverse;
      height: auto;
    }
  
    .UGDModelPageContent{
      width:100%;
      height: "auto";
    }
    .UGDModelPageImage{
      width:100%;
      height: "400px";
    }
    .UGDModelPageSecondDiv{

    }
    .UGDModelPageSecondDivSubDiv{
      margin-top:2rem;
      width:100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:1rem;
    }
    .UGDModelPageThirdDiv{
      margin-top:1rem;
      width:100%;
      height:1500px;
      padding: 4rem;
    }
    .UGDModelPageThirdDivSubDiv{
      margin-top:3rem;
      display:flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
      justify-content:space-around;
      gap: 1rem;
      padding: 0rem;
    }
    .aboutUSPageheadingFontSize{
      font-size: 2rem;
    }
    .UGDModelPageFourthDivRoundedLineLeft p{
      font-size: 1rem;
    }
    .UGDModelPageFourthDivRoundedLineRight p{
      font-size: 1rem;
    }
    .UGDModelPageFourthDivContentCard .heading{
      margin: 0rem; 
      font-size: 1rem;
    }
    .UGDModelPageFourthDivContentCard .para{
      margin-top: 0.1rem;
      font-size: 0.8rem;
    }
    .UGDModelPageFourthDivContainer{
      padding: 0.5rem;
    }
    .UGDModelPageFourthDivContainer2{
      padding: 0.5rem;
    }
    .aboutus{
      flex-direction: column;
    }
    .aboutusContent{
      width: 100%;
    }
    h1 {
      font-size: 4rem;
      margin-top: 30vh; 
    }
    
    h2 { font-size: 2rem; }

    .UGDModelPageFourthDivContentCard{
      height: 320px;
    }

  
   

}


